@page "/"
@using ToDoList.Models
@rendermode InteractiveServer
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject ProtectedLocalStorage BrowserStorage

<PageTitle>ToDo</PageTitle>

<div class="d-flex justify-content-center mt-5">
    <div class="card m-2 cb1 text-center">
        <div class="card-body">
            <span class="number">@todos.Count(todo => !todo.IsDone)</span>
            <h1 class="text-md-center py-md-4 text-muted">ToDo</h1>
            <div class="d-flex flex-row justify-content-md-center mb-md-3">
                <InputText class="me-md-3 ms-md-5 ps-md-2 text-box text-white flex-item  mb-md-3 mt-md-3 ps-md-4 pe-md-4 pt-md-3 pb-md-3 col-md-8" placeholder="Something todo" @bind-Value="newTodo" />
                <button class="btn btn-outline-light mb-md-3 mt-md-3 pe-md-4 ps-md-4 p-md-0 flex-item" @onclick="AddTodo">Add</button>
            </div>

            <div>
                <ul class="list-unstyled">
                    @foreach (var todo in todos)
                    {
                        <li class="px-3 d-flex flex-row">
                            <InputCheckbox class="col-md-1 m-md-2 custom-checkbox custom-control" @bind-Value="todo.IsDone" @bind-Value:after="Save" />
                            <InputText class="text-box text-white ps-md-4 pe-md-4 pt-md-3 pb-md-3 col-md-8 mb-md-3 mt-md-3 me-md-2" @bind-Value="todo.Title" @bind-Value:after="Save" />
                            <button type="reset" class="btn btn-outline-light col-md-2 mt-md-4 mb-md-4" @onclick="(()=>Remove(todo))">Remove</button>
                        </li>
                    }
                </ul>
            </div>
            <button class="btn btn-outline-light ms-md-1" @onclick="Delete">Clear</button>
        </div>
    </div>
</div>
<h4 class="mb-4 d-flex flex-md-fill justify-content-center text-muted footer">Flectere si nequeo superos Acheronta movebo.</h4>


@code {
    private string? newTodo;
    private List<ToDoItem> todos = new();

    protected override async void OnInitialized()
    {
        await Read();
        StateHasChanged();
    }

    private async Task AddTodo()
    {
        if (!string.IsNullOrWhiteSpace(newTodo))
        {
            todos.Add(new ToDoItem { Title = newTodo });
            newTodo = string.Empty;
        }
        StateHasChanged();
        await Save();
    }


    private async Task Remove(ToDoItem item)
    {

        todos.Remove(item);
        StateHasChanged();
        await Save();
    }

    public async Task Save()
    {
        await BrowserStorage.SetAsync("ToDo", todos);
    }

    public async Task Read()
    {
        var result = await BrowserStorage.GetAsync<List<ToDoItem>>("ToDo");
        todos = result.Success ? result.Value! : new List<ToDoItem>();
    }

    public async Task Delete()
    {
        await BrowserStorage.DeleteAsync("ToDo");
        todos = new List<ToDoItem>();
    }
}
